#guess{
    width: 360px;
    height: 60px;
    font-size: 25px;
    border: 0;
    border-radius: 15px;
    
}
#guessBtn{
    width: 360px;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    border-radius: 15px;
    margin-top: 20px;
}
.greenBtn{
    background-color: green
}

.yellowBtn{
    background-color: yellow;
}

.redBtn{
    background-color: red;
}

#guessBtn[value]{
    color:rgb(0, 0, 0); 
    font-size: 25px;
}
.guessNum{
    margin-top: 70px;
    margin-bottom: 15px;
}

#message{
    color: rgb(0, 0, 0)
}
#messageTwo{
    color: rgb(0, 0, 0)

}
header h1 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 40px;
}
.rules{
    font-size: 20px;
    color: rgb(0, 0, 0)
}

.transition{
    transition: all 1s;
}

#hero{
    height: 100vh;
}
.greenBg{
    background-color: lightgreen;
}

.yellowBg{
    background-color: khaki;
}

.redBg{
    background-color: lightcoral;
}